</body>
<footer>
    <div id = "copyright">
        &copy; Karl-Erik Kald. All rights reserved.
        <br>
        Powered by the <a href= "https://restcountries.eu">Restcountries API.</a>
    </div>
</footer>
</html>