<%- include('includes/head.ejs')  %>   
</head>

<body>
    <form action = "/" method = "POST">
        <div class="info">
            
        </div>
        <select name="country">
            <!-- <option value="EE">Estonia</option>
            <option value="LV">Latvia</option>
            <option value="LT">Lithuania</option> -->
            
            <% for (var i= 0; i < countryarray.length; i++) { %>

                <option value = <%= countryarray[i].parameter %> ><%= countryarray[i].name %></option>
            <% } %>    
        </select>
        <button type = "submit">Get Info</button>
    </form>

<%- include('includes/end.ejs')  %>   
